<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- Include Tailwind CSS -->
    <!-- <link href="./output.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

    <header class="bg-white shadow">
        <div class="container mx-auto px-4">
            <nav class="flex items-center justify-between py-4">
                <div>
                    <a href="#" class="text-lg font-semibold text-gray-800">Vidyasarthi</a>
                </div>
                <div>
                    <a href="#" class="text-gray-600 hover:text-gray-800 px-4">Home</a>
                    <a href="/dashboard" class="text-gray-600 hover:text-gray-800 px-4">Dashboard</a>
                    <a href="#" class="text-gray-600 hover:text-gray-800 px-4">Services</a>
                    <a href="#" class="text-gray-600 hover:text-gray-800 px-4">Contact</a>
                    <a href="#" class="text-gray-600 hover:text-gray-800 px-4">Sign Up</a>
                    <a href="/" class="text-gray-600 hover:text-gray-800 px-4">Log out</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container mx-auto px-4 py-8 bg-cover bg-center h-[500px] rounded-sm" style="background-image: url('https://d2w7l1p59qkl0r.cloudfront.net/static/Files/banner/Website-banner-ujjivan-small-finance-bank-transgender-scholarship-2024-25_Gp7DPH.webp');">
        </div>
    </main>


    <!-- hero section -->

    <section class="container font-serif mt-8">
        <div class="flex ">
            <div class="w-1/2 flex justify-center items-center p-5">
                <img src="https://d2w7l1p59qkl0r.cloudfront.net/static/images/homeservices2-new.jpg" alt="" class="rounded-2xl">

            </div>
            <div class="w-1/2 flex flex-col items-center gap-5">
                <h2 class="text-4xl text-gray-600 mt-4">Find Scholarships</h2>
                <div class="mt-8">
                    <ul class="text-gray-400 font-bold">
                        <li>Find and compare University </li>
                        <li>Scholarship Worldwide.Get a</li>
                        <li>collection of suitable Scholarship</li>
                        <li>from our expensive Scholarship</li>
                        <li>Database</li>
                    </ul>
                </div>
                <button class="bg-blue-400 rounded-md p-3 text-white font-bold mt-10">Find Scholarship</button>
            </div>
        </div> 
    </section>


   


    <section class="container font-serif mt-8">
        <div class="flex ">
            
            <div class="w-1/2 flex flex-col items-center gap-5">
                <h2 class="text-4xl text-gray-600 mt-4">Bachelors,Masters,PHD</h2>
                <div class="mt-8">
                    <ul class="text-gray-400 font-bold">
                        <li>Get Scholarship According to</li>
                        <li>your degree of Preference</li>
                        <li>Financial aid to help fund of Education </li>
                    </ul>
                </div>
                <button class="bg-blue-400 rounded-md p-3 text-white font-bold mt-10">Find By degree</button>
            </div>
            <div class="w-1/2 flex justify-center items-center p-5">
                <img src="https://d2w7l1p59qkl0r.cloudfront.net/static/images/homeservices8-new.jpg" alt="" class="rounded-2xl">

            </div>
        </div> 
    </section>


    <section class="container font-serif mt-8">
        <div class="flex ">
            <div class="w-1/2 flex justify-center items-center p-5">
                <img src="https://d2w7l1p59qkl0r.cloudfront.net/static/images/homeservices1-new.jpg" alt="" class="rounded-2xl">

            </div>
            <div class="w-1/2 flex flex-col items-center gap-5">
                <h2 class="text-4xl text-gray-600 mt-4">Achieve Your dreams</h2>
                <div class="mt-8">
                    <ul class="text-gray-400 font-bold ">
                        <li>Access Scholarship that match</li>
                        <li>your educational Financial Needs</li>
                        <li>Achieve your Goals</li>
                    </ul>
                </div>
                <button class="bg-blue-400 rounded-md p-3 text-white font-bold mt-10">Start Now</button>
            </div>
        </div> 
    </section>


    <footer class="bg-gray-800 text-gray-300 py-6">

        <div class="flex justify-evenly">
            <a href="index.html" class="font-bold hover:text-orange-400 ">About us</a>
            <a href="index.html" class="font-bold hover:text-orange-400">Team</a>
            <a href="index.html" class="font-bold hover:text-orange-400">Scholarship Result</a>
            <a href="index.html" class="font-bold hover:text-orange-400">Media Partner</a>
            <a href="index.html" class="font-bold hover:text-orange-400">FAQ</a>
            <a href="index.html" class="font-bold hover:text-orange-400">Carrers</a>
            <a href="index.html" class="font-bold hover:text-orange-400">Scholarship Interest Form</a>
            <a href="index.html" class="font-bold hover:text-orange-400">News Room</a>
            <a href="index.html" class="font-bold hover:text-orange-400">Contact Us</a>
        </div>
        <hr>
        <div class="mt-3 flex flex-row justify-around ">
            <div class="flex flex-col gap-2">
                <a href="" class="hover:text-orange-400 font-bold">STATE WISE SCHOLARSHIPS</a>
                <a href="" class="hover:text-orange-300">Top Scholarships of Uttar Pradesh</a>
                <a href="" class="hover:text-orange-300">Top Scholarships of Maharashtra</a>
                <a href="" class="hover:text-orange-300">Top Scholarships of Bihar</a>
                <a href="" class="hover:text-orange-300">Top Scholarships of West Bengal</a>
                <a href="" class="hover:text-orange-300">Top Scholarships of Madhya Pradesh</a>
                <a href="" class="hover:text-orange-300"> Top Scholarships of Tamil Nadu</a>
                <a href="" class="hover:text-orange-300">Top Scholarships of Rajasthan</a>
                <a href="" class="hover:text-orange-300">Top Scholarships of Karnataka</a>
                <a href="" class="hover:text-orange-300">Top Scholarships of Gujarat</a>
                <a href="" class="hover:text-orange-300">Top Scholarships of Andhra Pradesh</a>
            </div>

            <div class="flex flex-col gap-2">
                <a href="" class="hover:text-orange-400 font-bold">CURRENT CLASS SCHOLARSHIPS</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Class 1 to 10</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Class 11, 12</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Class 12 passed</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Graduation</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Post-Graduation</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Diploma/Polytechnic</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for ITI</a>
            </div>

            <div class="flex flex-col gap-2">
                <a href="" class="hover:text-orange-400 font-bold">TYPE BASED SCHOLARSHIPS</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Girls/Women</a>
                <a href="" class="hover:text-orange-300">Top Scholarships based on Merit</a>
                <a href="" class="hover:text-orange-300">Top Scholarships based on Means</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Minorities</a>
                <a href="" class="hover:text-orange-300"> Top Scholarships based on Disability</a>
                <a href=""class="hover:text-orange-300">Top Scholarships based on Talent</a>
                <a href="" class="hover:text-orange-300">Top Government Scholarships</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Engineering Students</a>
                <a href="" class="hover:text-orange-300">Top Scholarships for Study Abroad</a>
            </div>
        </div>
    </footer>
    

</body>

</html>
